{% extends "layout.html" %}
{% block body %}

<!-- 
<div class="jumbotron">
  <h2>CityGML schema validator is no more</h2>
  <p>We don't support CityGML in our work, and we're phasing out all our CityGML support.</p>
  <p>May we suggest you use CityJSON instead?</p>
</div>
 -->

<div class="alert alert-danger" role="alert">
  <p>CityGML schema validator is no more. We don't support CityGML in our work because of its complexity (<a href="http://dx.doi.org/10.1186/s40965-019-0064-0">more info</a>), and we're phasing out all our CityGML support.</p>
</div>

<div class="alert alert-success" role="alert">
  <p>We suggest you use <a href="https://cityjson.org">CityJSON</a> instead, we maintain a <a href="http://geovalidation.bk.tudelft.nl/schemacityjson/">validator for it</a>.</p>
</div>

{% endblock %}