body {
  font-family: 'Inconsolata', null;
  background-color: #fafafa;
  font-color: #2df5dd;
  padding-top: 50px;
}

h1, h2 {
  text-align: center;
}

.alert {
  text-align: center;
}

p,ul {
  font-size: 18px;
  line-height: 120%;
}