body {
  font-family: 'Karla', sans-serif;
  background-color: #eae4ff;
  color: #333333;
  padding-top: 50px;
}

h1 {
  text-align: center;
}

.well {
  background: #eae4ff;
}

.page-header {
  border-bottom: 0px;
}


a {
  font-size: 18px;
}

p {
  font-size: 18px;
  line-height: 120%;
  text-align: left;
  /*background-color: #fafafa;*/
  /*font-color: #2df5dd;*/
  /*text-align: left; */
}