{% extends "layout.html" %}
{% block body %}

   
  <div class="page-header">
    <h1 id="errorreported">error codes</h1>
  </div>

  <p>(<i>A description of each error is available <a href="https://github.com/tudelft3d/val3dity/blob/master/errors_description/errors_description.md">there</a></i>)</p>
  
  <hr>

  <p><img width='600' src="{{ url_for('static', filename='img/errorcodes.png') }}" alt="" /></p>    
  <hr>

  <h3 id="ringlevel">Ring level</h3>
    <ul>
      <li>101: TOO_FEW_POINTS</li>
      <li>102: CONSECUTIVE_POINTS_SAME</li>
      <li>103: RING_NOT_CLOSED</li>
      <li>104: RING_SELF_INTERSECTION </li>
      <li>105: RING_COLLAPSED</li>
    </ul>
  <h3 id="surfacelevel">Polygon level (embedded in 3D)</h3>
    <ul>
      <li>201: INTERSECTION_RINGS</li>
      <li>202: DUPLICATED_RINGS</li>
      <li>203: NON_PLANAR_POLYGON_DISTANCE_PLANE</li>
      <li>204: NON_PLANAR_POLYGON_NORMALS_DEVIATION</li>
      <li>205: POLYGON_INTERIOR_DISCONNECTED</li>
      <li>206: INNER_RINGS_OUTSIDE</li>
      <li>207: INNER_RINGS_NESTED</li>
      <li>208: ORIENTATION_RINGS_SAME</li>
    </ul>
  <h3 id="shelllevel">Shell level (one envelop formed by several polygons)</h3>
    <ul>
      <li>301: TOO_FEW_POLYGONS</li>
      <li>302: NOT_CLOSED</li>
      <li>303: NON_MANIFOLD_VERTEX</li>
      <li>304: NON_MANIFOLD_EDGE </li>
      <li>305: SEPARATE_PARTS</li>
      <li>306: SELF_INTERSECTION</li>
      <li>307: POLYGON_WRONG_ORIENTATION</li>
      <li>309: VERTICES_NOT_USED </li>
    </ul>
  <h3 id="solidlevel">Solid level (1 exterior shell + [0..n] interior shells)</h3>
    <ul>
      <li>401: INTERSECTION_SHELLS</li>
      <li>402: DUPLICATED_SHELLS</li>
      <li>403: INNER_SHELL_OUTSIDE</li>
      <li>404: INTERIOR_DISCONNECTED</li>
      <li>405: WRONG_ORIENTATION_SHELL</li>
    </ul>
  <h3 id="others">Others</h3>
    <ul>
      <li>901: INVALID_INPUT_FILE</li>
      <li>902: EMPTY_PRIMITIVE</li>
      <li>999: UNKNOWN_ERROR</li>
    </ul>


{% endblock %}