{% extends "layout.html" %}
{% block body %}

  <div class="page-header">
    <h2><img src="{{ url_for('static', filename='img/val3dity2.png') }}" width=250 alt=""/><br>geometric validation of 3D primitives</h2>
  </div>
      
  <div class="alert alert-warning" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    DOWN FOR MAINTENANCE, will be back soon.
    <br>
    In the meantime, use the <a href='https://github.com/tudelft3d/val3dity/releases'>binaries</a> locally (it's faster anyway!)
  </div>  


{% if problem %}
  <div class="alert alert-danger">
    <p><i class="fa fa-exclamation-triangle"></i> {{ problem }}</p>
  </div>
{% endif %}

{% endblock %}