{% extends "layout.html" %}
{% block body %}

  <div class="page-header">
    <h2><img src="{{ url_for('static', filename='img/val3dity.png') }}" width=250 alt=""/><br>geometric validation of 3D primitives according to ISO19107</h2>
  </div>
      
  <div class="well">
  <form class="form-horizontal" role="form" action="" method=post enctype=multipart/form-data>
    <div class="form-group">
      <label class="col-sm-4 control-label">Input file <i class="fa fa-question-circle" data-toggle="tooltip" title="any GML file or OBJ" ></i></label>
      <div class="col-sm-8">
          <div class="fileinput fileinput-new" data-provides="fileinput">
          <span class="btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" name="file"></span>
          <span class="fileinput-filename"></span>
          <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
        </div>
      </div>
    </div>  

    <div class="form-group">
      <label class="col-sm-4 control-label">3D primitives <i class="fa fa-question-circle" data-toggle="tooltip" title="which 3D primitives to validate? can't be both" ></i></label>
      <div class="col-sm-8">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default active">
            <input type="radio" name="primitives" value="S" checked> Solids
          </label>
          <label class="btn btn-default">
            <input type="radio" name="primitives" value="MS"> MultiSurfaces 
          </label>
          <label class="btn btn-default">
            <input type="radio" name="primitives" value="CS" checked> CompositeSolids
          </label>
        </div>
      </div>
    </div> 

    <div class="form-group">
      <label class="col-sm-4 control-label">Snap tolerance <i class="fa fa-question-circle" data-toggle="tooltip" title="if 2 points are closer then this value then we assume they are the same" ></i></label>
      <div class="col-sm-8">
        <input name="snaptol" type="text" class="form-control" value="0.001">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Planarity tolerance <i class="fa fa-question-circle" data-toggle="tooltip" title="maximum distance between a point and a fitted plane" ></i></label>
      <div class="col-sm-8">
        <input name="plantol" type="text" class="form-control" value="0.01">
      </div>
    </div>
    

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-default">Upload + validate</button>
      </div>
    </div>

  </form>
  </div>

{% if problem %}
  <div class="alert alert-danger">
    <p><i class="fa fa-exclamation-triangle"></i> {{ problem }}</p>
  </div>
{% endif %}

{% endblock %}