{% extends "layout.html" %}
{% block body %}

  <div class="page-header">
    <h1>{{ filename }}</h1>
  </div>

{% if welldone %}
  <div class="panel panel-success">
{% else %}
  <div class="panel panel-danger">
{% endif %}
    <div class="panel-heading">Summary</div>
      <div class="panel-body">
      {% if problems %}
        <p><FONT COLOR="#fa1b33">{{ problems }}</FONT></p>
      {% else %}
        <p>{{ summary0 }}</p>
        <p>{{ summary1 }}</p>
        {% if welldone %}
          <img src="{{ url_for('static', filename='img/welldone.png') }}" width="120" alt="">
        {% else %}
          <p>Errors present: (<a href="{{ url_for('errors') }}">overview of the possible errors</a>)</p>
          <ul>
          {% for error in errors %}
            <li>{{ error }}</li>
          {% endfor %}
          </ul>
        {% endif %}  
      {% endif %}
    </div>
  </div>  

  <div class="well">  
    <p>Download the report: <a href="{{ url_for('index') }}reports/download/{{ jid }}">{{ jid }}.xml</a> (<a href="{{ url_for('index') }}faq#how-should-i-interpret-the-report">how to interpret it?</a>)</p>
  </div>
{% endblock %}