{% extends "layout.html" %}
{% block body %}

  <div class="page-header">
    <h1>Some statistics</h1>
  </div>

  <div class="panel panel-primary">
  <div class="panel-heading">(since 2015-02-17)</div>
    <ul class="list-group">
    <li class="list-group-item">
      <span class="badge"> {{ totalsolids }}</span>
      Total number of solids validated
    </li>
    <li class="list-group-item">
      <span class="badge">{{ totalinvalidsolids }}</span>
      Total number of invalid solids
    </li>  
    <li class="list-group-item">
      <span class="badge">{{ percentageinvalids }}%</span>
      Percentage of invalid solids
    </li>
    <li class="list-group-item">
      <span class="badge">{{ totaljobs }} </span>
      Total uploaded files
    </li>
    <li class="list-group-item">
      <span class="badge"> {{ mosterror }} -- {{ mosterrordef }} </span>
      Most common error
    </li>
    </ul>
  </div>


  <div class="panel panel-info">
    <div class="panel-heading">Last validation: {{ lastdate }}</div>
      <ul class="list-group">
      <li class="list-group-item">
      <span class="badge">{{ lastprimitives }}</span>
      Number of solids
    </li>  
    <li class="list-group-item">
      <span class="badge">{{ lastinvalids }}</span>
      Invalid solids
    </li>  
    <li class="list-group-item">
      <span class="badge">{{ lasterrors }}</span>
      Errors present
    </li>  
    </ul>
  </div>  


{% endblock %}