{% extends "layout.html" %}
{% block body %}

  <div class="page-header">
    <h1>Some statistics </h1>
  </div>


  <div class="panel panel-primary">
    <div class="panel-heading">(since 2015-02-17)</div>
      <div class="panel-body">
        <p>Total number of Solids validated: {{ totalsolids }}</p>
        <p>Total number of invalid Solids: {{ totalinvalidsolids }} ({{ percentageinvalids }}%)</p>
        <p>Total uploaded files: {{ totaljobs }} </p>
        <p>Most common error: {{ mosterror }} -- {{ mosterrordef }} </p>
    </div>
  </div>  

  <div class="panel panel-info">
    <div class="panel-heading">Last validation</div>
      <div class="panel-body">
        <p>Date: {{ lastdate }}</p>
        <p>Number of Solids: {{ lastprimitives }}</p>
        <p>Invalid Solids: {{ lastinvalids }}</p>
        <p>Errors present: {{ lasterrors }}</p>
    </div>
  </div>  


{% endblock %}