
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/report.css') }}">
        <title id="title"></title>
    </head>

    <body>
        <div id="header">
            <div class="content">
                <h2><b id="infile"></b></h2>
                <br/>
                <button href="#" class="filter_link" data-filter="all">All</button>
                <button href="#" class="filter_link" data-filter="true">Valid</button>
                <button id="invalid" href="#" class="filter_link" data-filter="false">Invalid</button>
                &nbsp; &nbsp; | &nbsp; &nbsp; Features to display
                <select id="features_to_display">
                </select>

            </div>
        </div>

        <button id="expandAll">Expand All</button>
        <button id="collapseAll">Collapse All</button>
        <div id="tree"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/treeview.js') }}"></script>
        <script type="text/javascript">
            var report = {{ thereport | tojson }}; 
        </script>

        <script>
          $('#features_to_display').change(function() {
            console.log("click");
            // var sel = $(this).find('option:selected');
            // feature_type = sel[0].label;
            updateall();
          });
        </script>

        <script>
          function updateall() {
            var sel = $(select).find('option:selected');
            var feature_type = sel[0].label;
            if (feature_type == "all")
              ff = report.features;
            else {
                ff = $.grep(report.features, function(v) {
                    return v.type === feature_type;
                });
            }
            // console.log(report.features);
            if (report.features != null) {
                // Grab expand/collapse buttons
                var expandAll = document.getElementById('expandAll');
                var collapseAll = document.getElementById('collapseAll');
                var t = new TreeView(ff, 'tree');
                expandAll.onclick = function () { t.expandAll(); };
                collapseAll.onclick = function () { t.collapseAll(); };
            }
            var $treeElements = $('.tree-leaf');

            $('.filter_link').click(function(e){
                console.log("euh...");
                e.preventDefault();
                // get the category from the attribute
                var filterVal = $(this).data('filter');
                console.log(filterVal);
                if (filterVal === 'all') {
                  $treeElements.show();
                } else {
                   // hide all then filter the ones to show, but always include the errors
                   $treeElements.hide().filter("[validity=" + filterVal + "]").show();
                }
            });
          }
        </script>


        <script>
          console.log("main");
            var input = report.input_file;
            document.getElementById("infile").innerHTML = input.split("/").pop();
            //-- fill the dropdown with features
            var select = document.getElementById("features_to_display");
            const fset = new Set();
            for (i = 0; i < report.features.length; i++) {
                fset.add(report.features[i].type);
            }
            console.log(fset);
            const it = fset.entries();
            var opt = "all";
            var el = document.createElement("option");
            el.text = opt;
            el.value = opt;
            select.add(el);
            for (let i of it) {
                var opt = i[0];
                var el = document.createElement("option");
                el.text = opt;
                el.value = opt;
                select.add(el);
            }
            if (report.features != null) {
                var expandAll = document.getElementById('expandAll');
                var collapseAll = document.getElementById('collapseAll');
                var t = new TreeView(report.features, 'tree');
                expandAll.onclick = function () { t.expandAll(); };
                collapseAll.onclick = function () { t.collapseAll(); };
            }

            var $treeElements = $('.tree-leaf');

            $('.filter_link').click(function(e){
                console.log("euh...");
                e.preventDefault();
                // get the category from the attribute
                var filterVal = $(this).data('filter');
                console.log(filterVal);
                if (filterVal === 'all') {
                  $treeElements.show();
                } else {
                   // hide all then filter the ones to show, but always include the errors
                   $treeElements.hide().filter("[validity=" + filterVal + "]").show();
                }
            });
        </script>

    </body>
</html>

