<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="val3dity: geometric validation of GML solids">
    {% if refresh %}
      <meta  http-equiv="refresh"  content="10">
    {% endif %}

    <title>val3dity: geometric validation of GML solids</title>
    
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tooltipster.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tooltipster-shadow.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.7.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.tooltipster.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            // $('.tooltip').tooltipster();
            $('.tooltip').tooltipster({
              theme: 'tooltipster-shadow'
            });
        });
    </script>
</head>
<body>
  <div id="wrapper">

  {% block body %} {% endblock %}

  {{ name }}

  </div>
  <div id="footer">
    <hr/>
    <a href="/val3dity">home</a> 
    <a href="/val3dity/about">about</a> 
    <a href="/val3dity/faq">faq</a> 
    <a href="/val3dity/contact">contact</a> 
  </div>
</body>
</html>