{% extends "val3dity/layout.html" %}
{% block body %}
 <title>val3dity: geometric validation of solids according to ISO19107</title>
  <h2>Report for the file {{ filename }}</h2>
  {% if problems %}
    <p><FONT COLOR="#fa1b33">{{ problems }}</FONT></p>
  {% else %}
    <p>{{ summary0 }}</p>
    <p>{{ summary1 }}</p>
    {% if welldone %}
      <img src="/img/welldone.png" width="120" alt="">
    {% else %}
      <p>Errors present: (<a href='/val3dity/errors'>overview of the possible errors</a>)</p>
      <ul>
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}  
  {% endif %}  
  <p>Download the report: <a href='/val3dity/reports/download/{{ jid }}'>{{ jid }}.xml</a> (<a href='/val3dity/faq#how-should-i-interpret-the-report'>how to interpret it?</a>)</p>
{% endblock %}