body {
  font-family: 'Karla', sans-serif;
  background-color: #c8d3d5;
  color: #08253d;
  padding-top: 50px;
}

h1 {
  text-align: center;
}


a {
  font-size: 18px;
}

p {
  font-size: 18px;
  line-height: 120%;
  text-align: left;
  /*background-color: #fafafa;*/
  /*font-color: #2df5dd;*/
  /*text-align: left; */
}