body {
  font-family: 'Karla', sans-serif;
  background-color: #c8d3d5;
  color: #08253d;
  padding-top: 50px;
  text-align: center;
}


p,ul {
  /*font-family: 'Inconsolata', null;*/
  font-size: 18px;
  line-height: 120%;
  /*background-color: #fafafa;*/
  /*font-color: #2df5dd;*/
  /*text-align: left; */
}