{% extends "layout.html" %}
{% block body %}

  <div class="page-header">
    <h1>{{ filename }} </h1>
  </div>

{% if welldone %}
  <div class="panel panel-success">
    <div class="panel-heading">Summary: all 3D primitives are valid</div>
{% else %}
  <div class="panel panel-danger">
    <div class="panel-heading">Summary: there are errors</div>
{% endif %}
    <ul class="list-group">
    <li class="list-group-item">
      <span class="badge"> {{ total_primitives }}</span>
      Number of 3D primitives
    </li>
    <li class="list-group-item">
      <span class="badge">{{ invalid_primitives }}</span>
      Number of invalid 3D primitives
    </li>  
    <li class="list-group-item">
      <span class="badge">{{ total_cityobjects }}</span>
      Number of City Objects
    </li>
    <li class="list-group-item">
      <span class="badge">{{ invalid_cityobjects }} </span>
      Number of invalid City Objects
    </li>
    </ul>
  </div>

  {% if welldone %}
    <img src="{{ url_for('static', filename='img/welldone.png') }}" width="120" alt="">
    <br>
    <br>
  {% endif %}


  <div class="well">  
    <p><a href="{{ url_for('index') }}reports/overview/{{ jid }}">See the full report online</a></p>
    <p><a href="{{ url_for('index') }}reports/download/{{ jid }}">Download the JSON report</a></p>
  </div>

  <a href="{{ url_for('index') }}"><button type="button" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Validate another file</button></a>
{% endblock %}