{% extends "layout.html" %}
{% block body %}
 <title>val3dity: geometric validation of solids according to ISO19107</title>
    <h1><img src="img/val3dity.png" width=250 alt=""/><br>geometric validation of GML solids</h1>
    <form action="" method=post enctype=multipart/form-data>
      <ol>
        <li><input type=file name=file></li>
        <li>snapping tolerance for vertices: <input type="text" name="snap_tolerance" value="1e-3" maxlength="10" align="right"></li>
        <li><input type=submit value="upload + validate"></li>
        <li>you'll get a report detailing the errors, if any.</li>
      </ol>
    </form>
{% endblock %}