<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="val3dity: geometric validation of GML solids">

    <title>val3dity: geometric validation of GML solids</title>
    
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
</head>
<body>
  <div id="wrapper">

  {% block body %} {% endblock %}

  {{ name }}

  </div>
  <div id="footer">
    <hr/>
    <a href="/">home</a> 
    <a href="/about">about</a> 
    <a href="/faq">faq</a> 
    <a href="/contact">contact</a> 
  </div>
</body>
</html>