
{% extends "layout.html" %}
{% block body %}

<div class="page-header">
    <h1>about</h1>
</div>


<div class="row">
  <div class="col-sm-12 col-md-4">
    <a href="https://3d.bk.tudelft.nl"><img class="img-responsive" src="{{ url_for('static', filename='img/tud-3dgeoinfo-black.png') }}" alt="" /></a>
  </div>
  <div class="col-sm-12 col-md-8">
    <p>The geovalidation tools are developed by the <a href="https://3d.bk.tudelft.nl">3D geoinformation research group</a> of the <a href="http://tudelft.nl">Delft University of Technology.</a><p>
  </div>
</div>


{% endblock %}
