{% extends "layout.html" %}
{% block body %}

  <hr>
  <div class="page-header">
    <h2><a href="/val3dity"><img src="{{ url_for('static', filename='img/val3dity2.png') }}" width=250 alt=""/></a><br>geometric validation of 3D primitives</h2>
  </div>  

  <hr>
  <div class="page-header">
    <h2><a href="/prepair"><img src="{{ url_for('static', filename='img/prepair.svg') }}" width=250 alt=""/></a><br>automatic repair of GIS polygons</h2>
  </div>

  <hr>
  <div class="page-header">
    <h2><a href="/schemacitygml"><img src="{{ url_for('static', filename='img/schema.svg') }}" width=250 alt=""/></a><br>CityGML schema validator</h2>
  </div>

  <hr>
{% endblock %}