body {
  font-family: 'Inconsolata', null;
  background-color: #ffffff;
  font-color: #2df5dd;
  padding-top: 50px;
  text-align: left;
}

h2,h3 {
  text-align: center;
}

.footer {
  text-align: center;
}

