{% extends "layout.html" %}
{% block body %}

  <div class="page-header">
    <h1><i class="fa fa-line-chart"></i></h1>
  </div>

  <div class="panel panel-primary">
  <div class="panel-heading">(since 2015-02-17) </div>
    <ul class="list-group">
    <li class="list-group-item">
      <span class="badge"> {{ totalsolids }}</span>
      Total number of 3D primitives validated 
    </li>
    <li class="list-group-item">
      <span class="badge">{{ totalinvalidsolids }}</span>
      Total number of invalid 3D primitives
    </li>  
    <li class="list-group-item">
      <span class="badge">{{ percentageinvalids }}%</span>
      Percentage of invalid 3D primitives
    </li>
    <li class="list-group-item">
      <span class="badge">{{ totaljobs }} </span>
      Total number uploaded files
    </li>
    <li class="list-group-item">
      <span class="badge"> {{ mosterror }} </span>
      Most common <a href="http://geovalidation.bk.tudelft.nl/val3dity/docs/errors/">error code</a>
    </li>
    </ul>
  </div>


  <br>
  <h3>Last 5 validations</h3>  
    <table class="table table-hover">
      <tr class="active">
        <th>date</th>
        <th># solids</th> 
        <th># invalid</th>
        <th><a href="http://geovalidation.bk.tudelft.nl/val3dity/docs/errors/">error codes</a></th>
        <th>country</th>
        <th></th>
      </tr>
    {% for each in last5 %}
      <tr>
        <td>{{ each[0] }}</td>
        <td>{{ each[1] }}</td> 
        <td>{{ each[2] }}</td>
        {% if each[3] == "-1" %}
        <td></td>
        {% else %}
        <td>{{ each[3] }}</td>
        {% endif %}
        <td>{{ each[4] }}</td>
        {% if each[2] == 0 and each[1] > 0 %}
        <td><i class="fa fa-check"></i></td>
        {% else %}
        <td><i class="fa fa-times"></i></td>
        {% endif %}

      </tr>
    {% endfor %}
    </table>
  <!-- </div> -->

{% endblock %}